@charset "utf-8";
@import url('fonts.css');

/*
FONTS DISPONIVEIS

*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    outline: none;
    border: none;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top8 {
    margin-top: 8px;
}

.top10 {
    margin-top: 10px !important;
}

.top15 {
    margin-top: 15px !important;
}

.top20 {
    margin-top: 20px !important;
}

.top25 {
    margin-top: 25px !important;
}

.top30 {
    margin-top: 30px !important;
}

.top35 {
    margin-top: 35px !important;
}

.top40 {
    margin-top: 40px !important;
}

.top45 {
    margin-top: 45px !important;
}

.top50 {
    margin-top: 50px !important;
}

.top55 {
    margin-top: 55px !important;
}

.top60 {
    margin-top: 60px !important;
}

.top65 {
    margin-top: 65px !important;
}

.top70 {
    margin-top: 70px !important;
}

.top75 {
    margin-top: 75px !important;
}

.top80 {
    margin-top: 80px !important;
}

.top85 {
    margin-top: 85px !important;
}

.top90 {
    margin-top: 90px !important;
}

.top100 {
    margin-top: 100px !important;
}

.top105 {
    margin-top: 105px !important;
}

.top115 {
    margin-top: 115px !important;
}

.top120 {
    margin-top: 120px !important;
}

.top145 {
    margin-top: 145px !important;
}

.top150 {
    margin-top: 150px !important;
}

.top170 {
    margin-top: 170px !important;
}

.top220 {
    margin-top: 220px !important;
}

.top265 {
    margin-top: 265px !important;
}

.top195 {
    margin-top: 195px !important;
}

.top210 {
    margin-top: 210px !important;
}

.top350 {
    margin-top: 350px !important;
}

.top380 {
    margin-top: 380px !important;
}

.top395 {
    margin-top: 395px !important;
}

.top450 {
    margin-top: 450px !important;
}

.bottom5 {
    margin-bottom: 5px !important;
}

.bottom10 {
    margin-bottom: 10px !important;
}

.bottom15 {
    margin-bottom: 15px !important;
}

.bottom20 {
    margin-bottom: 20px !important;
}

.bottom25 {
    margin-bottom: 25px !important;
}

.bottom30 {
    margin-bottom: 30px !important;
}

.bottom35 {
    margin-bottom: 35px !important;
}

.bottom40 {
    margin-bottom: 40px !important;
}

.bottom45 {
    margin-bottom: 45px !important;
}

.bottom50 {
    margin-bottom: 50px !important;
}

.bottom55 {
    margin-bottom: 55px !important;
}

.bottom60 {
    margin-bottom: 60px !important;
}

.bottom60 {
    margin-bottom: 60px !important;
}

.bottom65 {
    margin-bottom: 65px !important;
}

.bottom70 {
    margin-bottom: 70px !important;
}

.bottom75 {
    margin-bottom: 75px !important;
}

.bottom80 {
    margin-bottom: 80px !important;
}

.bottom90 {
    margin-bottom: 90px !important;
}

.bottom100 {
    margin-bottom: 100px !important;
}

.bottom120 {
    margin-bottom: 120px !important;
}

.bottom135 {
    margin-bottom: 135px !important;
}

.bottom180 {
    margin-bottom: 180px !important;
}

.bottom200 {
    margin-bottom: 200px !important;
}

.bottom220 {
    margin-bottom: 220px !important;
}

.bottom280 {
    margin-bottom: 280px !important;
}

.left5 {
    margin-left: 5px;
}

.left10 {
    margin-left: 10px;
}

.left15 {
    margin-left: 15px;
}

.left20 {
    margin-left: 20px;
}

.left25 {
    margin-left: 25px;
}

.left30 {
    margin-left: 30px;
}

.left35 {
    margin-left: 35px;
}

.left40 {
    margin-left: 40px;
}

.left45 {
    margin-left: 45px;
}

.left50 {
    margin-left: 50px;
}

.left55 {
    margin-left: 55px;
}

.left60 {
    margin-left: 60px;
}

.left65 {
    margin-left: 65px;
}

.left70 {
    margin-left: 70px;
}

.left75 {
    margin-left: 75px;
}

.left80 {
    margin-left: 80px;
}

.left81 {
    margin-left: 81px;
}

.left130 {
    margin-left: 130px;
}

.left270 {
    margin-left: 270px;
}

.right5 {
    margin-right: 5px;
}

.right10 {
    margin-right: 10px !important;
}

.right15 {
    margin-right: 15px;
}

.right20 {
    margin-right: 20px;
}

.right22 {
    margin-right: 22px;
}

.right25 {
    margin-right: 25px;
}

.right30 {
    margin-right: 30px;
}

.right35 {
    margin-right: 35px;
}

.right40 {
    margin-right: 40px;
}

.right45 {
    margin-right: 45px;
}

.right50 {
    margin-right: 50px;
}

.right55 {
    margin-right: 55px;
}

.right60 {
    margin-right: 60px;
}

.right65 {
    margin-right: 65px;
}

.right70 {
    margin-right: 70px;
}

.right75 {
    margin-right: 75px;
}

.right80 {
    margin-right: 80px;
}

.right90 {
    margin-right: 90px;
}

.right100 {
    margin-right: 100px;
}

.right130 {
    margin-right: 130px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pt60 {
    padding-top: 60px;
}

.pt80 {
    padding-top: 80px;
}

.pt100 {
    padding-top: 100px;
}

.pt300 {
    padding-top: 300px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.pl60 {
    padding-left: 60px;
}

.pl80 {
    padding-left: 80px;
}

.pl100 {
    padding-left: 100px;
}

.pl300 {
    padding-left: 300px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pr60 {
    padding-right: 60px;
}

.pr80 {
    padding-right: 80px;
}

.pr100 {
    padding-right: 100px;
}

.pr300 {
    padding-right: 300px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb50 {
    padding-bottom: 50px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb100 {
    padding-bottom: 100px;
}

.pb200 {
    padding-bottom: 200px;
}

.pb280 {
    padding-bottom: 280px;
}

.pb300 {
    padding-bottom: 300px;
}

.pr0 {
    padding-right: 0;
}

.pr5 {
    padding-right: 5px;
}

.pl0 {
    padding-left: 0;
}

.pl5 {
    padding-left: 5px;
}

.pg20 {
    padding: 20px !important;
}

.container {
    width: 1170px !important;
}

.input100 {
    width: 100% !important;
}

body {
    font-family: 'Lato', sans-serif !important;
}

h1 {
    font-size: 20px;
    color: #000;
}

h1 span {
    font-family: "Lato Black";
    font-size: 40px;
    color: #000;
}

h2 {
    font-size: 30px;
    color: #000;
    font-family: "Lato Black";
}

h3 {
    font-size: 24px;
    color: #000;
    font-family: "Lato Black";
}

h3 span {
    font-size: 30px;
    color: #fff;
    font-family: "Lato Bold";
}

h4 {
    font-size: 50px;
    color: #fff;
    font-family: "Lato Black";
}

h5 {
    font-size: 17px;
    color: #fff;
    font-family: "Lato Black";
}

h5 span {
    font-size: 25px;
    color: #FFF;
    font-family: "Lato Bold";
}

p {
    font-size: 17px;
    color: #000;
    text-align: justify;
    font-weight: 300;
}

p span {
    color: #fff;
}


/* .font-futura{font-family:futura__condensed;}
*/

.lato_bold {
    font-family: "Lato Bold";
}

.MyriadPro_Regular {
    font-family: MyriadPro-Regular;
}

.lato_black {
    font-family: "Lato Black";
}

a:hover {
    text-decoration: none !important;
}

.media-left, .media-right, .media-body {
    vertical-align: middle !important;
}

.relativo {
    position: relative;
}

input, select, textarea {
    min-height: 42px;
    color: #000;
    border-radius: 0 !important;
    font-size: 20px;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: #000;
    font-family: "Lato Bold";
    font-size: 20px;
}

:-moz-placeholder {
    color: #000;
    font-family: "Lato Bold";
    font-size: 20px;
}

::-moz-placeholder {
    color: #000;
    font-family: "Lato Bold";
    font-size: 20px;
}

:-ms-input-placeholder {
    color: #000;
    font-family: "Lato Bold";
    font-size: 20px;
}

.btn {
    border-radius: 0px;
}

.padding0 {
    padding: 0px;
}


/**
		============================================
		TOPO
		============================================
		*/

.topo {
    height: 110px;
    background: #ed3237;
    position: relative;
    z-index: 999;
}

.btn_carrinho {
    background: #fff !important;
    -webkit-appearance: inherit !important;
}

.icon_telefone h2 {
    font-size: 20px;
    font-family: "Lato Bold";
    color: #000;
}

.icon_telefone img {
    height: 40px;
}

.logo {
    margin-top: -57px;
}

.btn_topo {
    position: relative;
    cursor: pointer;
}

.badge {
    position: absolute;
    bottom: 7px;
    left: 12px;
    background: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-family: "Lato Black";
    padding: 7px;
    border-radius: 0;
}

.btn-danger {
    background: #ed3237;
}

.topo-meu-orcamento {
    background: #fff;
    width: 470px !important;
    margin-right: -4px;
    padding: 15px;
}

.lista-itens-carrinho {
    margin: 10px 0px;
    overflow: hidden;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px;
}

.lista-itens-carrinho h1 {
    font-size: 20px !important;
}

.menu a {
    font-size: 18px;
    color: #fff;
}

.menu .navbar-nav>li>a {
    padding: 25px 7px;
    margin-top: 20px;
}

.menu .nav>li>a:hover, .menu .nav>li>a:focus, .menu .nav li a.active {
    background: url(../imgs/topo_menu_hover.png);
}


/**
		============================================
		TOPO
		============================================
		*/


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* ------------------------------- BANNER  ------------------------------- */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#container_banner {
    width: 100%;
    height: 705px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    margin-top: -18px;
    position: relative;
    z-index: -1000;
}

#content_slider {
    width: 1920px;
    height: 996px;
    overflow: hidden;
    position: absolute;
    margin-left: -960px;
    top: 0px;
    left: 50%;
}

#content-slider-1 .rsTabs {
    width: 150px;
    height: 50px;
    z-index: 9999;
    position: absolute;
    left: 899px;
    top: 456px;
    text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1 .rsNavItem {
    background: #b8b8b8;
    width: 25px;
    opacity: 0.5;
    height: 25px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    /*box-shadow: -2px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/
}

#content-slider-1 .rsNavSelected {
    opacity: 1;
    background: #343136;
    /*box-shadow: -2px 2px rgba(0,0,0,0.6);
			-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
			-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/
}


/*arrow personalizados*/

#container_banner .rsArrowLeft {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/arrow_left.png) center no-repeat;
    z-index: 99999;
    bottom: 158px;
    position: absolute;
    left: 862px;
}

#container_banner .rsArrowRight {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/arrow_right.png) center no-repeat;
    z-index: 99999;
    bottom: 158px;
    position: absolute;
    right: 856px;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* ------------------------------- BANNER  ---------------------------- */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/**/


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* --------------------- BANNER PRODUTOS  ----------------------------- */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#container_banner-produtos {
    width: 100%;
    height: 750px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    margin-top: -18px;
    position: relative;
    z-index: 1;
}

#content_slider-produtos {
    width: 1920px;
    height: 750px;
    overflow: hidden;
    position: absolute;
    margin-left: -960px;
    top: 0px;
    left: 50%;
    z-index: -1;
}

.prod-dentro-titulo {
    position: absolute;
    top: 360px;
    z-index: 999;
    width: 1170px;
}

.prod-dentro-titulo_1 {
    width: 1170px;
}

.subir {
    position: absolute;
    top: 646px;
    z-index: 999;
    width: 1170px;
}

#content-slider-1-produtos {
    height: 750px;
}

#content-slider-1-produtos .rsTabs {
    width: 150px;
    height: 50px;
    z-index: 999 !important;
    position: absolute;
    left: 899px;
    top: 298px;
    text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1-produtos .rsNavItem {
    background: #fff;
    width: 25px;
    opacity: 0.5;
    height: 25px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 9999;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
}

#content-slider-1-produtos .rsNavSelected {
    opacity: 1;
    background: #fff;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
}


/*arrow personalizados*/

#container_banner-produtos-produtos .rsArrowLeft {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/arrow_left.png) center no-repeat;
    z-index: 999;
    bottom: 158px;
    position: absolute;
    left: 862px;
}

#container_banner-produtos-produtos .rsArrowRight {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/arrow_right.png) center no-repeat;
    z-index: 999;
    bottom: 158px;
    position: absolute;
    right: 856px;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* --------------------- BANNER PRODUTOS  ----------------------------- */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/**/


/**
		============================================
		rodape
		============================================
		*/

.rodape {
    background: #dddddd;
}

.rodape-preto {
    background: #000;
}

.rodape-preto h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.telefone_rodape p {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
}

.menu-rodape li a {
    color: #000000;
    font-size: 19px;
    font-weight: 300;
    margin-right: 35px;
}

.icon-rodape {
    color: #000000;
}

.menu-rodape li a:hover, .menu-rodape li a.active {
    font-weight: 400;
}

.menu-rodape {
    list-style: none;
    padding: 0px;
}

.barra_branca {
    border-bottom: 1px solid #fff;
    padding-bottom: 9px;
}

.menu-rodape li {
    float: left;
}


/**
		============================================
		rodape
		============================================
		*/


/**
		============================================
		HOME
		============================================
		*/

.bg_diferencas {
    height: 166px;
    margin-top: -82px;
    background: url(../imgs/bg_diferencas.png)center no-repeat;
}

.bg_diferencas h2 {
    font-size: 20px;
    color: #fff;
    font-family: "Lato Black";
}

.bg_diferencas p {
    height: 70px;
    color: #fff;
    margin-top: -36px;
    overflow: hidden;
}

.bg_diferencas h1 {
    color: #000;
    font-family: "Lato Black";
    font-size: 35px;
}

.bg_diferencas h1 span {
    font-size: 17px;
}

.lista_produto h1 {
    font-size: 20px;
    color: #000;
    font-family: "Lato Black";
}

.descricao_prod_home {
    overflow: hidden;
    height: 70px;
}

.produto-hover {
    /* left: 15px; */
    background: #000;
    width: 555px;
    height: 324px;
    position: absolute;
    top: 0;
    opacity: 0;
    padding-top: 80px;
}

.btn_saiba_mais {
    border-radius: 3px;
    background: none;
    font-size: 17px;
    border: 1px solid #fff;
    color: #fff;
    -moz-box-shadow: inset 2px -2px 15px #000000;
    -webkit-box-shadow: inset 2px -2px 15px #000000;
    box-shadow: inset 2px -2px 15px #000000;
}

.produto-hover h1 {
    font-size: 20px;
    opacity: 1 !important;
    text-shadow: 5px 5px 5px #000000;
    color: #fff;
    font-family: "Lato Black";
}

.bg_home_empresa {
    height: 583px;
    background: url(../imgs/bg_empresa_home.jpg)center no-repeat;
}

.desc_empresa_home {
    margin-top: 206px;
    overflow: hidden;
    height: 208px;
}

.bg_home_empresa p {
    font-size: 22px;
}

#carousel-example-generic-equipe .carousel-indicators, .slider-parceiros-clientes .carousel-indicators, #carousel-example-generic-clientes .carousel-indicators, .slider-parceiros-clientes .carousel-indicators {
    bottom: -50px;
}

#carousel-example-generic-equipe .carousel-indicators li, .slider-parceiros-clientes .carousel-indicators li, #carousel-example-generic-clientes .carousel-indicators li, .slider-parceiros-clientes .carousel-indicators li, #carousel-example-generic-empresa .carousel-indicators li, .slider-parceiros-empresa .carousel-indicators li {
    width: 0px;
    height: 0px;
    background: #7f7f7f;
    border: none;
    margin-right: 5px!important;
}

#carousel-example-generic-equipe .carousel-indicators .active, .slider-parceiros-clientes .carousel-indicators .active, #carousel-example-generic-clientes .carousel-indicators .active, .slider-parceiros-clientes .carousel-indicators .active, #carousel-example-generic-empresa .carousel-indicators .active, .slider-parceiros-empresa .carousel-indicators .active {
    background: #000;
    margin: 1px;
}

#carousel-example-generic-equipe .carousel-control.left, #carousel-example-generic-equipe .carousel-control.right, .slider-parceiros-clientes .carousel-control.left, .slider-parceiros-clientes .carousel-control.right, #carousel-example-generic-clientes .carousel-control.left, #carousel-example-generic-clientes .carousel-control.right, .slider-parceiros-clientes .carousel-control.left, .slider-parceiros-clientes .carousel-control.right, #carousel-example-generic-empresa .carousel-control.left, #carousel-example-generic-empresa .carousel-control.right, .slider-parceiros-empresa .carousel-control.left, .slider-parceiros-empresa .carousel-control.right {
    background: none;
}

#carousel-example-generic-equipe .carousel-control.left, .slider-parceiros-clientes .carousel-control.left, #carousel-example-generic-clientes .carousel-control.left, .slider-parceiros-clientes .carousel-control.left {
    left: 305px;
    top: inherit;
    bottom: -47px;
    width: 25px;
    height: 25px;
    z-index: 100;
}

#carousel-example-generic-equipe .carousel-control.right, .slider-parceiros-clientes .carousel-control.right, #carousel-example-generic-clientes .carousel-control.right, .slider-parceiros-clientes .carousel-control.right {
    right: 305px;
    top: inherit;
    bottom: -61px;
    width: 40px;
    height: 40px;
    z-index: 100;
}

#carousel-example-generic-equipe .fa-chevron-left, #carousel-example-generic-equipe .fa-chevron-right, .slider-parceiros-clientes .fa-chevron-left, .slider-parceiros-clientes .fa-chevron-right, #carousel-example-generic-clientes .fa-chevron-left, #carousel-example-generic-clientes .fa-chevron-right, .slider-parceiros-clientes .fa-chevron-left, .slider-parceiros-clientes .fa-chevron-right, #carousel-example-generic-empresa .fa-chevron-left, #carousel-example-generic-empresa .fa-chevron-right, .slider-parceiros-empresa .fa-chevron-left, .slider-parceiros-empresa .fa-chevron-right {
    font-size: 0px;
    color: #000;
}

.slider-parceiros-equipe .bg_imagem {
    background: url(../imgs/topo_menu_hover.png);
    min-height: 90px;
}

.bg_home_dicas {
    height: 487px;
    background: url(../imgs/bg_dicas_home.png)center no-repeat;
}

.lista_dica_desc {
    height: 100px;
    overflow: hidden;
}

.dicas_home img {
    border-radius: 10px;
}

.lista_dica_desc h1 {
    font-size: 25px;
    color: #000;
    font-weight: 300;
}


/**
		============================================
		HOME
		============================================
		*/


/**
		============================================
		DICAS
		============================================
		*/

.div_personalizada {}

.dicas_geral_dentro {
    background: #eaeaea;
    position: relative;
    z-index: 999;
    margin-top: -230px;
}

.dicas_geral_dentro_1 {
    background: #eaeaea;
}

.dicas_geral {
    position: relative;
    background: #eaeaea;
}

.sombra_dicas_geral {
    z-index: 99999;
    position: absolute;
    bottom: -32px;
    height: 33px;
    background: url(../imgs/sombra_dicas_geral.png) center;
    width: 100%;
}

.sombra_dicas_geral_1 {
    height: 33px;
    width: 100%;
}

.dicas_Dentro {
    background: #eaeaea;
    position: relative;
    margin-top: -16px;
}

.dicas_Dentro h1 {
    font-size: 25px;
}

.sombra_dicas_Dentro {
    z-index: 99999;
    position: absolute;
    bottom: -27px;
    height: 28px;
    background: url(../imgs/sombra_dicas_geral1.png) center;
    width: 100%;
    margin-left: -15px;
}

.sombra_fale {
    z-index: 99999;
    position: absolute;
    bottom: -27px;
    height: 28px;
    background: url(../imgs/sombra_dicas_geral1.png) center;
    width: 100%;
}

.breadcrumb {
    font-size: 21px;
    background: none;
    padding: 15px;
    margin-left: -52px;
    color: #fff;
}

.breadcrumb i {
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
}

.breadcrumb a i:hover {
    color: #ed3237;
}

.breadcrumb i:hover, .breadcrumb a:hover {
    color: #fff;
}

.breadcrumb>.active {
    color: #fff;
}

.active1 {
    font-size: 20px;
    color: #fff !important;
    font-family: 'futura__condensed';
    padding-left: 15px !important;
}

.face {
    margin-top: -6px;
    padding-left: 0px !important;
}

.face:after {
    box-shadow: none !important;
}

.active1 img {
    margin-right: 15px;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 24px;
    position: relative;
}

.breadcrumb a:hover {
    color: #fff;
}


/*hover/active styles*/


/*adding the arrows for the breadcrumbs using rotated pseudo elements*/

.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 7px;
    right: -10px;
    /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 20px;
    height: 20px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
			length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
			if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.1), 2px -2px 0 1px rgba(255, 255, 255, 1);
    /*
			5px - for rounded arrows and
			50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}


/*we dont need an arrow after the last link*/

.breadcrumb a:last-child:after {
    content: none;
}

.central_dicas h4 span {
    font-size: 17px;
    color: #fff;
    font-family: "Lato Black";
}

.central_dicas h5 {
    font-size: 35px;
    color: #fff;
    font-family: "Lato Black";
    margin-top: 10px;
}

.central_dicas h5 span {
    font-size: 17px;
}

.div_personalizada {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


/**
		============================================
		DICAS
		============================================
		*/


/**
		============================================
		PRODUTOS
		============================================
		*/

.prod-dentro-titulo a, .prod-dentro-titulo_1 a {
    color: #fff;
    font-size: 16px;
}

.prod-dentro-titulo .btn-transparente, .prod-dentro-titulo .btn:hover, .prod-dentro-titulo_1 .btn-transparente, .prod-dentro-titulo_1 .btn:hover {
    border-color: #fff;
    color: #fff;
}

.prod-dentro-titulo h1, .prod-dentro-titulo_1 h1 {
    font-size: 50px;
    color: #fff;
    margin: inherit;
}

.btn_orcamento {
    font-size: 17px;
    color: #fff;
    background: #d41f2b;
    padding: 20px 30px;
}

.btn_orcamento:hover {
    color: #fff;
    background: #a82326;
}

#carousel-example-generic-servicos .carousel-indicators, .slider-parceiros-servicos .carousel-indicators, #carousel-example-generic-servicos .carousel-indicators, .slider-parceiros-servicos .carousel-indicators {
    bottom: -50px;
}

#carousel-example-generic-servicos .carousel-indicators li, .slider-parceiros-servicos .carousel-indicators li, #carousel-example-generic-servicos .carousel-indicators li, .slider-parceiros-servicos .carousel-indicators li, #carousel-example-generic-empresa .carousel-indicators li, .slider-parceiros-empresa .carousel-indicators li {
    width: 0px;
    height: 0px;
    background: #7f7f7f;
    border: none;
    margin-right: 5px!important;
}

#carousel-example-generic-servicos .carousel-indicators .active, .slider-parceiros-servicos .carousel-indicators .active, #carousel-example-generic-servicos .carousel-indicators .active, .slider-parceiros-servicos .carousel-indicators .active, #carousel-example-generic-empresa .carousel-indicators .active, .slider-parceiros-empresa .carousel-indicators .active {
    background: #000;
    margin: 1px;
}

#carousel-example-generic-servicos .carousel-control.left, #carousel-example-generic-servicos .carousel-control.right, .slider-parceiros-servicos .carousel-control.left, .slider-parceiros-servicos .carousel-control.right, #carousel-example-generic-servicos .carousel-control.left, #carousel-example-generic-servicos .carousel-control.right, .slider-parceiros-servicos .carousel-control.left, .slider-parceiros-servicos .carousel-control.right, #carousel-example-generic-empresa .carousel-control.left, #carousel-example-generic-empresa .carousel-control.right, .slider-parceiros-empresa .carousel-control.left, .slider-parceiros-empresa .carousel-control.right {
    background: none;
}

#carousel-example-generic-servicos .carousel-control.left, .slider-parceiros-servicos .carousel-control.left, #carousel-example-generic-servicos .carousel-control.left, .slider-parceiros-servicos .carousel-control.left {
    top: 30%;
    width: 100px;
    height: 100px;
    z-index: 100;
}

#carousel-example-generic-servicos .carousel-control.right, .slider-parceiros-servicos .carousel-control.right, #carousel-example-generic-servicos .carousel-control.right, .slider-parceiros-servicos .carousel-control.right {
    top: 30%;
    width: 100px;
    height: 100px;
    z-index: 100;
}

#carousel-example-generic-servicos .fa-chevron-left, #carousel-example-generic-servicos .fa-chevron-right, .slider-parceiros-servicos .fa-chevron-left, .slider-parceiros-servicos .fa-chevron-right, #carousel-example-generic-servicos .fa-chevron-left, #carousel-example-generic-servicos .fa-chevron-right, .slider-parceiros-servicos .fa-chevron-left, .slider-parceiros-servicos .fa-chevron-right, #carousel-example-generic-empresa .fa-chevron-left, #carousel-example-generic-empresa .fa-chevron-right, .slider-parceiros-empresa .fa-chevron-left, .slider-parceiros-empresa .fa-chevron-right {
    font-size: 30px;
    color: #000;
}

.lista_parceiros_clientes h1 {
    font-size: 20px;
}

.lista_parceiros_clientes p {
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    height: 73px;
}

.scrollup {
    width: 65px;
    height: 65px;
    opacity: 0.5;
    position: fixed;
    bottom: 50px;
    left: 30px;
    display: none;
    text-indent: -9999px;
    background: url(../imgs/seta_up.png) no-repeat;
    z-index: 9999;
}


/**
		============================================
		PRODUTOS
		============================================
		*/


/**
		============================================
		FALE CONOSCO
		============================================
		*/

.btn_formulario {
    border-radius: 0;
    font-size: 20px;
    color: #fff;
    padding: 15px 25px;
    background: #ed3237;
}

.btn_formulario:hover {
    color: #fff;
    background: #bc302f;
    opacity: 1;
}

.contatos-btn-opcoes a.active {
    background: #d41f2b;
}

.contatos-btn-opcoes a {
    font-size: 20px;
    color: #fff;
    background: #f6989b;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.contatos-btn-opcoes a span {
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
}

.mapa {
    margin-top: -95px;
}

.mapa_trabalhe {
    margin-top: -80px;
}

.contato_dados h1 {
    margin-top: 10px;
    margin-bottom: 0;
}


/**
		============================================
		FALE CONOSCO
		============================================
		*/


/**
		============================================
		ORCAMENTOS
		============================================
		*/

.tabela_carrinho thead th {
    background: #d41f2b;
    padding: 10px 5px;
}

.tabela_carrinho table {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

.tabela_carrinho .table>tbody>tr>td, .tabela_carrinho .table>thead>tr>th {
    vertical-align: middle;
    border-bottom: 1px solid #d41f2b;
    padding: 10px 5px;
}

.fa-times-circle::before {
    color: red;
}

.bg_cinza {
    background: #eaeaea;
    overflow: hidden;
}

.tabela_carrinho h5 span, .fundo_formulario h5 span {
    color: #000;
}

.input-lista-prod-orcamentos {
    width: 32px;
    min-height: 36px !important;
    text-align: center;
    background: #ed3237;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
}


/**
		============================================
		ORCAMENTOS
		============================================
		*/



		/**
		============================================
		CSS FLEXSLIDER
		============================================
		*/

		.slider_prod_geral #slider{
			margin: 0 0 12px; !important;
			border: 18px solid #fff;
		}

		.slider_prod_geral #carousel{
			margin: 0 0 0px; !important;
			background: none;
			border: 0;
		}

		.slider_prod_geral #carousel li{
			width: 135px !important;
			margin-right: 20px;
		}

		.slider_prod_geral
		.slider-prod{
			height: 402px;
			overflow: hidden;
		}

		.slider_prod_geral
		.slider-prod-tumb li img{
			border: 6px solid #fff;
			height: 86px !important;
			width: 120px !important;
		}

		.slider_prod_geral
		.flex-control-paging li a {
			width: 0px !important;/*retira bolinhas*/
			height: 0px !important;/*retira bolinhas*/
		}

		.slider_prod_geral
		.flex-direction-nav a {
			width: 45px;/*retira setas*/
			height: 45px !important;/*retira setas*/

		}

		#carousel img:hover {
		    opacity: 1;
		}
		#carousel img {
		    display: block;
		    opacity: .5;
		    cursor: pointer;
		}

		.slider-prod-tumb .flexslider .slides img{
			height: 100%;
		}

		.slider-prod li img{
			height: 100%;
		}
		/**
		============================================
		CSS FLEXSLIDER
		============================================
		*/
		.slider_prod_geral h1{
			font-size: 30px;
			color: #192b39;
			font-family:"Lato Black";
		}

		.consulte h2,.consulte h2 span{
			font-size: 20px;
			color: #192b39;
		}


.lista-detalhe-obra h5{
    color: #000;
}
