@font-face {
    font-family: 'FuturaCondensedNormalRegular';
    src: url('futura-condensed-normal.eot');
    src: url('futura-condensed-normal.eot') format('embedded-opentype'),
         url('futura-condensed-normal.woff') format('woff'),
         url('futura-condensed-normal.ttf') format('truetype'),
         url('futura-condensed-normal.svg#FuturaCondensedNormalRegular') format('svg');
}
