@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top120{margin-top:120px;}
.top120{margin-top:120px;}
.top140{margin-top:140px;}
.top150{margin-top:150px;}
.top170{margin-top:170px;}
.top175{margin-top:175px;}
.top180{margin-top:180px !important;}
.top195{margin-top:195px;}
.top220{margin-top:220px !important;}
.top425{margin-top:425px !important;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt300{padding-top:300px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.container{max-width:480px;}
.input100{width:100% !important;}
.pg10{padding:10px !important;}
body{font-weight:400;font-family:'Lato', sans-serif !important;text-align:justify;}
h1{font-size:20px;color:#000;}
h1 span{font-family:"Lato Black";font-size:30px;color:#000;}
h2{font-size:20px;color:#000;font-family:"Lato Black";}
h3{font-size:20px;color:#000;font-family:"Lato Black";}
h3 span{font-size:20px;color:#fff;font-family:"Lato Bold";}
h4{font-size:27px;color:#fff;font-family:"Lato Black";}
h5{font-size:17px;color:#fff;font-family:"Lato Black";}
h5 span{font-size:25px;color:#000;font-family:"Lato Bold";}
p{font-size:17px;color:#000;text-align:justify;font-weight:300;}
p span{color:#fff;}
.font-futura{font-family:futura__condensed;}
.lato_bold{font-family:"Lato Bold";}
.MyriadPro_Regular{font-family:MyriadPro-Regular;}
.lato_black{font-family:"Lato Black";}
a:hover{text-decoration:none !important;}
.media-left,
.media-right,
.media-body{vertical-align:middle !important;}
.relativo{position:relative;}
input,
select,
textarea{min-height:42px;color:#000;border-radius:0 !important;font-size:20px;font-weight:300;}
::-webkit-input-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
:-moz-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
::-moz-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
:-ms-input-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
.btn{border-radius:0px;}
.padding0{padding:0px;}
.topo{height:60px;background:#ed3237;position:relative;z-index:999;}
.btn_carrinho{background:#fff !important;-webkit-appearance:inherit !important;}
.icon_telefone h2{font-size:20px;font-family:"Lato Bold";color:#000;}
.icon_telefone img{height:40px;}
.lista-menu a{display:block;text-align:left;color:#000;}
.btn_transparente_topo,
.btn_transparente_topo:hover{background:url(../imgs/topo_menu_hover.png);color:#fff;font-family:futura__condensed;font-size:20px;}
.topo h2{font-family:"Lato Black";font-size:20px;color:#000;}
.btn-danger{background:#ed3237;}
.topo-meu-orcamento{background:#fff;width:470px !important;margin-right:-4px;padding:15px;}
.bg-topo .logo img{border-radius:0px 0px 10px 10px;position:relative;z-index:99;}
.lista-itens-carrinho{margin:10px 0px;overflow:hidden;border-bottom:2px solid #e5e5e5;margin-bottom:20px;}
.lista-itens-carrinho h1{font-size:20px !important;}
.menu a{font-size:18px;color:#000;}
.carroucel-home .carousel-caption{text-align:left;z-index:10;bottom:0;top:10px;right:0;left:0;}
.carroucel-home .carousel-inner > .item > img{position:absolute;top:0;left:0;width:100%;height:380px;}
.carroucel-home{margin-top:-54px;position:relative;}
.carroucel-home .carousel-indicators{position:absolute;top:380px;left:68%;z-index:20;width:22%;}
.carroucel-home li{opacity:0.5;width:0px;height:0px;background:#000;border:0;margin:2px!important;}
.carroucel-home li.active{opacity:1;width:0px;height:0px;background:#000;border:0;margin:2px!important;}
.carroucel-home .carousel-control{opacity:1;color:#fff;font-size:0px;top:380px;width:0;z-index:999;}
.carroucel-home span.fa-angle-right{right:173px;color:#000;position:absolute;}
.carroucel-home span.fa-angle-left{left:162px;color:#000;position:absolute;}
.carroucel-home .carousel-control:hover{color:#000;opacity:0.5;}
.carroucel-home .carousel,.carroucel-home .carousel .item{height:380px;}
.bg_diferencas{height:140px;margin-top:-76px;position:relative;background:url(../imgs/bg_diferencas.png)center no-repeat;}
.bg_diferencas h2{font-size:17px;color:#fff;font-family:"Lato Black";}
.bg_diferencas p{height:120px;color:#fff;margin-top:-13px;overflow:hidden;}
.bg_diferencas h1{color:#000;font-family:"Lato Black";font-size:35px;}
.bg_diferencas h1 span{font-size:17px;}
#carousel-example-generic-produtos .carousel-indicators,.slider-parceiros-produtos .carousel-indicators,#carousel-example-generic-produtos .carousel-indicators,.slider-parceiros-produtos .carousel-indicators{bottom:-30px;}
#carousel-example-generic-produtos .carousel-indicators li,.slider-parceiros-produtos .carousel-indicators li,#carousel-example-generic-produtos .carousel-indicators li,.slider-parceiros-produtos .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:20px;height:20px;background:#7f7f7f;border:none;margin-right:5px!important;}
#carousel-example-generic-produtos .carousel-indicators .active,.slider-parceiros-produtos .carousel-indicators .active,#carousel-example-generic-produtos .carousel-indicators .active,.slider-parceiros-produtos .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
#carousel-example-generic-produtos .carousel-control.left,#carousel-example-generic-produtos .carousel-control.right,.slider-parceiros-produtos .carousel-control.left,.slider-parceiros-produtos .carousel-control.right,#carousel-example-generic-produtos .carousel-control.left,#carousel-example-generic-produtos .carousel-control.right,.slider-parceiros-produtos .carousel-control.left,.slider-parceiros-produtos .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
#carousel-example-generic-produtos .carousel-control.left,.slider-parceiros-produtos .carousel-control.left,#carousel-example-generic-produtos .carousel-control.left,.slider-parceiros-produtos .carousel-control.left{left:133px;top:inherit;bottom:-25px;width:25px;height:25px;z-index:100;}
#carousel-example-generic-produtos .carousel-control.right,.slider-parceiros-produtos .carousel-control.right,#carousel-example-generic-produtos .carousel-control.right,.slider-parceiros-produtos .carousel-control.right{right:133px;top:inherit;bottom:-40px;width:40px;height:40px;z-index:100;}
#carousel-example-generic-produtos .fa-chevron-left,#carousel-example-generic-equipe .fa-chevron-right,.slider-parceiros-produtos .fa-chevron-left,.slider-parceiros-produtos .fa-chevron-right,#carousel-example-generic-produtos .fa-chevron-left,#carousel-example-generic-produtos .fa-chevron-right,.slider-parceiros-produtos .fa-chevron-left,.slider-parceiros-produtos .fa-chevron-right,#carousel-example-generic-empresa .fa-chevron-left,#carousel-example-generic-empresa .fa-chevron-right,.slider-parceiros-empresa .fa-chevron-left,.slider-parceiros-empresa .fa-chevron-right{font-size:20px;color:#000;}
#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators,#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators{bottom:-50px;}
#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:0px;height:0px;background:#7f7f7f;border:none;margin-right:5px!important;}
#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left{left:133px;top:inherit;bottom:-47px;width:25px;height:25px;z-index:100;}
#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right{right:133px;top:inherit;bottom:-61px;width:40px;height:40px;z-index:100;}
#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-empresa .fa-chevron-left,#carousel-example-generic-empresa .fa-chevron-right,.slider-parceiros-empresa .fa-chevron-left,.slider-parceiros-empresa .fa-chevron-right{font-size:0px;color:#000;}
#carousel-example-generic-servicos .carousel-indicators,.slider-parceiros-servicos .carousel-indicators,#carousel-example-generic-servicos .carousel-indicators,.slider-parceiros-servicos .carousel-indicators{bottom:-50px;}
#carousel-example-generic-servicos .carousel-indicators li,.slider-parceiros-servicos .carousel-indicators li,#carousel-example-generic-servicos .carousel-indicators li,.slider-parceiros-servicos .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:0px;height:0px;background:#7f7f7f;border:none;margin-right:5px!important;}
#carousel-example-generic-servicos .carousel-indicators .active,.slider-parceiros-servicos .carousel-indicators .active,#carousel-example-generic-servicos .carousel-indicators .active,.slider-parceiros-servicos .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
#carousel-example-generic-servicos .carousel-control.left,#carousel-example-generic-servicos .carousel-control.right,.slider-parceiros-servicos .carousel-control.left,.slider-parceiros-servicos .carousel-control.right,#carousel-example-generic-servicos .carousel-control.left,#carousel-example-generic-servicos .carousel-control.right,.slider-parceiros-servicos .carousel-control.left,.slider-parceiros-servicos .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
#carousel-example-generic-servicos .carousel-control.left,.slider-parceiros-servicos .carousel-control.left,#carousel-example-generic-servicos .carousel-control.left,.slider-parceiros-servicos .carousel-control.left{left:11px;top:142px;width:25px;height:80px;z-index:100;}
#carousel-example-generic-servicos .carousel-control.right,.slider-parceiros-servicos .carousel-control.right,#carousel-example-generic-servicos .carousel-control.right,.slider-parceiros-servicos .carousel-control.right{right:11px;top:142px;width:40px;height:80px;z-index:100;}
#carousel-example-generic-servicos .fa-chevron-left,#carousel-example-generic-servicos .fa-chevron-right,.slider-parceiros-servicos .fa-chevron-left,.slider-parceiros-servicos .fa-chevron-right,#carousel-example-generic-servicos .fa-chevron-left,#carousel-example-generic-servicos .fa-chevron-right,.slider-parceiros-servicos .fa-chevron-left,.slider-parceiros-servicos .fa-chevron-right,#carousel-example-generic-servicos .fa-chevron-left,#carousel-example-generic-servicos .fa-chevron-right,.slider-parceiros-servicos .fa-chevron-left,.slider-parceiros-servicos .fa-chevron-right{font-size:20px;color:#000;}
.lista_parceiros_clientes .dicas_descricao_home{font-size:18px;font-weight:400;overflow:hidden;height:73px;}
.btn_orcamento{font-size:17px;color:#fff;background:#d41f2b;padding:12px 25px;}
.btn_saiba_mais{border-radius:0px;background:none;font-size:17px;border:1px solid #000;color:#000;padding:8px 26px;}
.btn_saiba_mais_produtos{border-radius:0px;background:none;font-size:17px;border:1px solid #000;color:#000;padding:8px 15px;}
.dicas_descricao_home .desc_prod{overflow:hidden;height:98px;}
.bg_home_empresa{height:468px;background:url(../imgs/bg_empresa_home.jpg)center no-repeat;}
.desc_empresa_home{margin-top:72px;overflow:hidden;height:208px;}
.bg_home_empresa p{font-size:17px;}
.lista_dica_desc{height:71px;overflow:hidden;}
.dicas_home img{border-radius:5px;}
.lista_dica_desc h1{font-size:17px;color:#000;font-weight:300;}
.bg-fundo-preto p{color:#fff;font-weight:700;padding:10px 0px;text-align:center;}
.bg-fundo-preto{position:relative;background:#000;}
.icon-rodape{color:#fff;}
.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
.tabela_carrinho table{font-size:15px;color:#000;font-weight:400;}
.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{vertical-align:middle;border-bottom:1px solid #d41f2b;padding:10px 5px;}
.fa-times-circle::before{color:red;}
.bg_cinza,.fundo_formulario{background:#eaeaea;overflow:hidden;}
.input-lista-prod-orcamentos{width:32px;min-height:36px !important;text-align:center;background:#ed3237;color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:13px;}
.tabela_carrinho h5,.fundo_formulario h5{font-size:20px;}
.dicas_geral{overflow:hidden;background:#eaeaea;}
.dicas_geral_1{position:relative;}
.sombra_dicas_geral_dicas{z-index:99999;left:15px;position:absolute;bottom:-27px;height:28px;background:url(../imgs/sombra_dicas_geral.png) no-repeat center;width:94%;}
.sombra_dicas_geral{z-index:99999;left:15px;position:absolute;bottom:-27px;height:28px;background:url(../imgs/sombra_dicas_geral.png) no-repeat center;width:94%;}
#container_banner{width:100%;height:705px;margin:0px auto;overflow:hidden;position:relative;margin-top:-18px;position:relative;z-index:-1000;}
#content_slider{width:1920px;height:996px;overflow:hidden;position:absolute;margin-left:-960px;top:0px;left:50%;}
#content-slider-1 .rsTabs{width:150px;height:50px;z-index:9999;position:absolute;left:899px;top:456px;text-shadow:-4px -3px 2px rgba(0, 0, 0, 0.76);}
#content-slider-1 .rsNavItem{background:#b8b8b8;width:25px;opacity:0.5;height:25px;float:left;margin-right:10px;cursor:pointer;border-radius:50%;}
#content-slider-1 .rsNavSelected{opacity:1;background:#343136;}
#container_banner .rsArrowLeft{display:block;width:20px;height:20px;background:url(../imgs/arrow_left.png) center no-repeat;z-index:99999;bottom:158px;position:absolute;left:862px;}
#container_banner .rsArrowRight{display:block;width:20px;height:20px;background:url(../imgs/arrow_right.png) center no-repeat;z-index:99999;bottom:158px;position:absolute;right:856px;}
/**/#container_banner-produtos{width:100%;height:433px;margin:0px auto;overflow:hidden;position:relative;margin-top:-18px;position:relative;z-index:1;}
#content_slider-produtos{width:480px;height:433px;overflow:hidden;position:absolute;margin-left:-240px;top:0px;left:50%;z-index:-1;}
.prod-dentro-titulo{position:absolute;top:360px;z-index:9;width:480px;}
.prod-dentro-titulo_1{width:480px;}
.prod-dentro-titulo a, .prod-dentro-titulo_1 a{color:#fff;font-size:16px;}
.prod-dentro-titulo .btn-transparente, .prod-dentro-titulo_1 .btn-transparente, .prod-dentro-titulo_1 .btn:hover
.prod-dentro-titulo .btn:hover{border-color:#fff;color:#fff;}
.prod-dentro-titulo h1, .prod-dentro-titulo_1 h1{font-size:30px;color:#fff;margin:inherit;}
.subir{position:absolute;top:646px;z-index:999;width:480px;}
#content-slider-1-produtos{height:433px;}
#content-slider-1-produtos .rsTabs{width:150px;height:50px;z-index:999 !important;position:absolute;left:189px;top:302px;text-shadow:-4px -3px 2px rgba(0, 0, 0, 0.76);}
#content-slider-1-produtos .rsNavItem{background:#fff;width:25px;opacity:0.5;height:25px;float:left;margin-right:10px;cursor:pointer;border-radius:50%;z-index:9999;box-shadow:-2px 2px rgba(0,0,0,0.6);-moz-box-shadow:-2px 2px rgba(0,0,0,0.6);-webkit-box-shadow:-2px 2px rgba(0,0,0,0.6);-o-box-shadow:-2px 2px rgba(0,0,0,0.6);}
#content-slider-1-produtos .rsNavSelected{opacity:1;background:#fff;box-shadow:-2px 2px rgba(0,0,0,0.6);-moz-box-shadow:-2px 2px rgba(0,0,0,0.6);-webkit-box-shadow:-2px 2px rgba(0,0,0,0.6);-o-box-shadow:-2px 2px rgba(0,0,0,0.6);}
#container_banner-produtos-produtos .rsArrowLeft{display:block;width:20px;height:20px;background:url(../imgs/arrow_left.png) center no-repeat;z-index:999;bottom:158px;position:absolute;left:862px;}
#container_banner-produtos-produtos .rsArrowRight{display:block;width:20px;height:20px;background:url(../imgs/arrow_right.png) center no-repeat;z-index:999;bottom:158px;position:absolute;right:856px;}
/**/.subir_dicas{margin-top:-50px;position:relative;z-index:99;}
.dicas_geral h3 span{color:#000000;}
.fundo_formulario .input-lg, .fundo_formulario .form-group-lg .fundo_formulario .form-control{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px;border:0;}
.titulo_fale h4{font-size:25px;}
.titulo_trabalhe h4{font-size:20px;}
.btn_formulario{border-radius:0;font-size:14px;color:#fff;padding:12px 20px;background:#ed3237;}
.mapa{margin-top:-30px;}
.mapa_trabalhe{margin-top:-43px;}